extends ../layout

block main
	#content
		.mdl-grid
			.mdl-cell.mdl-cell--12-col
				h2.mdl-color-text--primary GiftSift
				
			.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet
				.mdl-card.mdl-shadow--4dp.card-wide
					.mdl-card__title.mdl-color--primary.mdl-color-text--white
						h2.mdl-card__title-text= list.name
					.mdl-card__media
						img(src="/images/#{list.type}.jpg", width="100%", height="80")
					.mdl-card__supporting-text
						p #{list.ownerName} has invited you to join their GiftSift wish list.
						p You will be able to see gifts other people have put on the list and add you own so other people can see what you want.
						p Are you sure you want to join?
					.mdl-card__actions
						form(action="/lists/join", method="post")
							input(type="hidden", id="id", name="id", value="#{list.id}")
							input.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(type="submit", value="Join")
							a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href="/") Cancel
