extends ../layout

block main
	#content
		.mdl-grid
			.mdl-cell.mdl-cell--12-col
				h2.mdl-color-text--primary= list.name
				
			.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet
				.mdl-card.mdl-shadow--4dp.card-wide
					.mdl-card__title.mdl-color--primary.mdl-color-text--white
						h2.mdl-card__title-text Share your list
					.mdl-card__supporting-text
						- var url = listLink + '/lists/join/' + list.id + "#" + list.name
						ul.mdl-list
							li.mdl-list__item
								a(target="_new", href=url) Link
							li.mdl-list__item
								a(href="whatsapp://send?text=View my wish list on GiftSift" + url) WhatsApp			
							li.mdl-list__item
								a(href="https://twitter.com/home?status=View my wish list on GiftSift " + url) Twitter			
							li.mdl-list__item
								a(href="https://plus.google.com/share?url=" + url) Google+
			
