block header
	header.mdl-layout__header
		.mdl-layout-icon
		.mdl-layout__header-row
			.mdl-layout__title
				span GiftSift
				//img.logo(src="/images/logo-white.png")
			.mdl-layout-spacer
			nav.mdl-navigation.mdl-layout--large-screen-only
				a.mdl-navigation__link(href="/") Home
				a.mdl-navigation__link(href="/lists") View lists
				a.mdl-navigation__link(href="/lists/manage") Manage my lists
				a.mdl-navigation__link(href="/gifts/manage") Manage my gifts
				if !user
					a.mdl-navigation__link(href="/login") Login
				if user
					a.mdl-navigation__link(href="/logout") Logout
	.mdl-layout__drawer.mdl-color--primary
		.mdl-layout__title.mdl-color-text--white GiftSift
		nav.mdl-navigation
			a.mdl-navigation__link.mdl-color-text--white(href="/") Home
			a.mdl-navigation__link.mdl-color-text--white(href="/lists") View lists
			a.mdl-navigation__link.mdl-color-text--white(href="/lists/manage") Manage my lists
			a.mdl-navigation__link.mdl-color-text--white(href="/gifts/manage") Manage my gifts
			if !user
				a.mdl-navigation__link.mdl-color-text--white(href="/login") Login
			if user
				a.mdl-navigation__link.mdl-color-text--white(href="/logout") Logout
