extends ./layout

block main
	#content
		.mdl-grid
			.mdl-cell.mdl-cell--12-col
				h2.mdl-color-text--primary GiftSift
				
			.mdl-cell.mdl-cell--12-col
				.mdl-card.mdl-shadow--4dp.card-wide
					.mdl-card__title#home-card-1.home-card
						h5 
					//.mdl-card__media
						p pic
					.mdl-card__supporting-text
						p Always getting presents you don't want?
						p Never getting the gifts you do want?
						p Share lists and gift ideas with family and friends.
					.mdl-card__actions
						a.mdl-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--primary(href="/login") Login
