extends ./layout

block main
	#content
		.mdl-grid
			.mdl-cell.mdl-cell--12-col
				h1.mdl-color-text--orange-900 GiftSift
				h3.mdl-color-text--orange-600 Always getting presents you don't want?
				h3.mdl-color-text--orange-600 Never getting the gifts you do want?
				h3.mdl-color-text--orange-600 Share lists and gift ideas with family and friends.
				a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.mdl-js-ripple-effect(href="/auth/login") Login
block append script
	script.
