extends layout

block main
	section#main

block append script
	script(src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js")
	script.
		var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}', {
			auth: {
				redirectUrl: '#{env.AUTH0_CALLBACK_URL}',
				sso: true,
				responseType: 'code',
				params: {
					scope: 'openid name email picture'
				}
			},
			rememberLastLogin: true,
			theme: {
				logo: '/images/logo.png',
				primaryColor: '#ff5722'
			},
			languageDictionary: {
				title: "GiftSift"
			},
			socialButtonStyle: 'big',
			closable: false
		});
		window.onload = lock.show();
